.cart-page {
    padding: 4.6667rem 0;
    background-color: #f5f5f5;
    }
    
    /* Cart Container */
    .cart {
    max-width: 75rem;
    margin: 0 auto;
    padding: 1.3333rem;
    background-color: #fff;
    box-shadow: 0 0 1.3333rem rgba(0, 0, 0, 0.1);
    }
    
    /* Cart Title */
    .cart h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.3333rem;
    color: #333;
    text-align: center;
    }
    
    /* Cart Table */
    .cart table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    }
    
    /* Cart Table Header */
    .cart th {
    font-weight: bold;
    text-align: left;
    border-bottom: 0.1333rem solid #ddd;
    padding: 0.6667rem 0;
    font-size: 1.2rem;
    }
    
    /* Cart Table Rows */
    .cart td {
    text-align: left;
    border-bottom: 0.0667rem solid #ddd;
    padding: 0.6667rem 0;
    font-size: 1.0667rem;
    }
    
    /* Cart Table Product Name */
    .cart td:first-child {
    color: #333;
    font-weight: bold;
    }
    
    /* Cart Table Input */
    .cart input[type="number"] {
    width: 3.3333rem;
    border: none;
    border-radius: 0.3333rem;
    padding: 0.3333rem;
    text-align: center;
    }
    
    /* Cart Table Total */
    .cart td:last-child {
    color: #333;
    font-weight: bold;
    }
    
    /* Cart Table Action */
    .cart td a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    }
    
    /* Cart Table Action Hover */
    .cart td a:hover {
    color: #f44336;
    }
    
    /* Cart Total */
    .cart .total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 2rem;
    }
    
    /* Cart Total Span */
    .cart .total span:first-child {
    margin-right: 0.6667rem;
    font-weight: normal;
    }
    
    /* Cart Checkout Buttons */
    .cart .checkout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    /* Cart Continue Shopping Button */
    .cart .checkout a:first-child {
    padding: 0.6667rem 1.3333rem;
    background-color: #f44336;
    color: #fff;
    text-decoration: none;
    border-radius: 0.3333rem;
    transition: all 0.3s ease;
    }
    
    /* Cart Continue Shopping Button Hover */
    .cart .checkout a:first-child:hover {
    background-color: #333;
    }
    
    /* Cart Checkout Button */
    .cart .checkout a:last-child {
    padding: 0.6667rem 1.3333rem;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 0.3333rem;
    transition: all 0.3s ease;
    }
    
    /* Cart Checkout Button Hover */
    .cart .checkout a:last-child:hover {
    background-color: #f44336;
    }